.leftcolor-blue{
    padding-left: 10px ;
    border-left-width: 5px ;
    border-left-style: solid ;
    border-left-color: #6495ED;
    margin-bottom:30px;
    text-align: left;
    font-size: 30px;
    
}
body {
    font-family: monospace;
    
    }
    h1:first-letter {
        font-size: 2em;
        color: #7172ac;
      }