

@charset "utf-8";

.radio {
	display: none;
}

.radio_image{
	width: 100px;
	height: 100px;
	cursor:pointer;
  }

.radio + .radio_image {
	border: 3px #ffffff solid;
	background-color: #ffffff;
}
.radio:checked + .radio_image {
	border: 3px #ff0000 solid;
	background-color: #ffeeee;
}

.overflow-div {
    width: 640px;
    border: solid 1px;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: max-content;
    max-height: 200px;
}



#clothes_area,#backs_area{
	display: none;
}

#heads_btn,#clothes_btn,#backs_btn{
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	cursor: pointer;
}