

@charset "utf-8";

.radio {
	display: none;
}

.radio_image{
	width: 100px;
	height: 100px;
	cursor:pointer;
  }

.radio + .radio_image {
	border: 3px #ffffff solid;
	background-color: #ffffff;
}
.radio:checked + .radio_image {
	border: 3px #ff0000 solid;
	background-color: #ffeeee;
}

.overflow-div {
	width: auto;
	height: 200px;
	border: solid 1px;
	overflow-x: hidden;
	overflow-y: auto;
  }