
@charset "utf-8";

.back{
  background-image: url(../images/searchimg/siro.jpg);
  background-size:cover;                 
  width:100%;                             
  height: 600px; 
  
}

  