<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{REQUEST_URI} !^/web/model/API/
    RewriteRule ^(.*)\.php$ index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !^/web/model/API/

    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>