<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{REQUEST_URI} !^/model/API/
    RewriteRule ^(.*)\.php$ index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !^/model/API/

    RewriteRule ^(.*)$ index.php/$1 [L]

    ErrorDocument 403 /view/error/403/index.php
    ErrorDocument 404 /view/error/404/index.php
    ErrorDocument 500 /view/error/500/index.php
</IfModule>