.flex {
    display: flex; /*横並び*/
}
  
  .flex .image {
    width: 640px; /*画像サイズ指定*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
  }
  .flex .text {
    margin: center;
    padding: 0;
  }