@charset "utf-8";


.radio {
  display: none;
}

.radio_image{
  width: 100px;
  height: 100px;
  cursor:pointer;
}

.radio+.radio_image {
  border: 3px #ffffff solid;
  background-color: #ffffff;
}

.radio:checked+.radio_image {
  border: 3px #ff0000 solid;
  background-color: #ffeeee;
}



.flex {
  display: flex;
  /*横並び*/
}

.flex .image {
  width: 640px;
  /*画像サイズ指定*/
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.flex .text {
  margin: center;
  padding: 0;
}

.overflow-div {
  width: auto;
  height: 140px;
  border: solid 1px;
  overflow: scroll;
  overflow-x: hidden;
}