a{
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.password-column{
    position: relative;
}

.form-open-eye-mark,.form-close-eye-mark{
    position: absolute;
    margin: 10px;
    top: 0px;
    right: 0px;
    z-index: 20;
}

.form-close-eye-mark{
    display: none;
}