.mt-3 {
  background-image: url('');
}

.flex {
  display: flex;
  /*横並び*/
}

.flex .image {
  width: 640px;
  /*画像サイズ指定*/
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.flex .text {
  margin: center;
  padding: 0;
}

div p {

  display: inline-block;

}

.good {
  background-image: url("/web/images/user_icon/i.jpg");
}

.username {
  font-size: 24px;
  font-style: oblique;
  font-family: "Nikukyu";
}

.username {
  font-family: 'Reggae One', cursive;
}

.self-introduction{
  font-family: 'DotGothic16', cursive;
}
.haikei{
  background-image: url("images/background/banner.jpg");
}

.fa{
  font-size:15px;
  color:gold;
}
#rating{
  font-size:0;
}

.self-introduction{
  word-wrap: break-word;
}

.user_icon iframe {
  width: 200px;
  height: 200px;
  pointer-events: none;
  border-radius: 50%;
  background-position: left top;
  display: inline-block;
  border: 9px solid #00cc00;
}