.box1{
    width: 1000px;
    height: 200px;
}
.box2{
    width: 1000px;
    height: 100px;
}

.box1{
    overflow: scroll;
    overflow-x: hidden;
}
.box1::-webkit-scrollbar-thumb {
    background: #ff8095;
  }