.boximg {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #EEEEEE;
}

.box1 {
  word-wrap: break-word;
}

.box-close{
  max-height: 200px;
  overflow: hidden;
}

.box2 {
  overflow-y: auto;
  overflow-x: hidden;
}

.fa {
  font-size: 20px;
  color: gold;
}

#rating {
  font-size: 0;
}

#dir_url {
  text-decoration:none;
}

.hr{
  border-top: 1px solid #aaa;
}